body {


    background-color: #fafafa;;
    font-family: sans-serif;
}

.container{

    width: 800px;
    margin: 0px auto;
    padding-top: 50px;
    display: flex;
}

.gambar{
    width: 50%;
}

.card-wrapper {
width: 50%;

}

.card{
    border-style: solid;
    border-color: #f0f0f0;
    border-width: 2px;
    text-align: center;
    background-color: white;
   
   
   

}

.logo{
    width: 180px;
    margin-top: 25px;



}

.form
{

    margin-top: 30px ;
  
    
}


.input{
width: 300px;
height: 30px;
border: 1px solid grey;
border-radius: 5px;
padding: 4px;
margin-top: 10px;

}

.btn{
    background-color: #0095f6;
    border: 0px solid transparent;
    margin-top: 20px;
    width: 300px;
    height: 30px;
    border-radius: 5px;
    color: white;
    
}
.btn a {

    text-decoration: none;
    color: white;
}

.login-with{
    color: #01017a ;
    text-decoration: none;

}

.link-forgot{
    color: grey;
    text-decoration: none;
    font-size: 12px;
    padding-top: 20px;

}

.link-sign-up{
    color:#0095f6 ;
    text-decoration: none;

}